h1 {
  font-size: 40px;
  font-style: bold;
}
h1.title {
  font-size: 40px;
  font-style: bold;
}
h2 {
  font-size: 35px;
  font-style: bold;
}
h3 {
  font-size: 25px;
  font-style: italic;
  font-weight: 125;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 15px;
}
img {
    display: block;
    margin: auto;
}

img-circle {
    border-radius: 50%;
}



